{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
<div class="product-buffer"></div>
<div class="container">
    <div class="row">
        <!--................Heading..................-->
        <div class="col-10 offset-1">
            <p class="welcome logo-font pink text-center mt-5 mb-4">Shopping bag</p>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1">
            <!--....Bag view for mobile..........-->
            {% if bag_items %}
            <div class="d-block d-md-none">
                <div class="row">
                    <div class="col-12">
                        {% include "bag/bag-total.html" %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center p-2">
                        {% include "bag/checkout-buttons.html" %}
                        <p class="text-muted mt-3 mb-5"> Please view your bag summary below</p>
                    </div>
                </div>
                <!--................Bag items- mobile..................-->
                {% for item in bag_items %}
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            {% include "bag/product-image.html" %}
                        </div>
                        <div class="col-12 col-sm-6">
                            {% include "bag/product-info.html" %}
                        </div>
                        <div class="col-12 col-sm-6">
                            <p class="my-0">Price Each: ${{ item.product.price }}</p>
                            <p class="my-0"><strong>Subtotal:</strong> ${{ item.product.price | calc_subtotal:item.quantity }}</p>
                        </div>
                        <div class="col-12 col-sm-6">
                            {% include "bag/quantity-form.html" %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <hr>
                        </div>
                    </div>
                {% endfor %}
                <div class="btt-button shadow-sm rounded">
                    <a class="btt-link d-flex h-100">
                        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
                    </a>
                </div>
            </div>
            <!--....Bag view for tablet and up.....................-->
            <div class="table-responsive rounded d-none d-md-block">
                <table class="table table-sm table-borderless">
                    <thead class="text-black">
                        <tr>
                            <th scope="col">Product Info</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>
                    <!--................Bag items- tablet and up..................-->
                    {% for item in bag_items %}
                        <tr>
                            <td class="p-3 w-25">
                                {% include "bag/product-image.html" %}
                            </td>
                            <td class="py-3">
                                {% include "bag/product-info.html" %}
                            </td>
                            <td class="py-3">
                                <p class="my-0">${{ item.product.price }}</p>
                            </td>
                            <td class="py-3 w-25">
                                {% include "bag/quantity-form.html" %}
                            </td>
                            <td class="py-3">
                                <p class="my-0">${{ item.product.price | calc_subtotal:item.quantity }}</p>
                            </td>
                        </tr>
                    {% endfor %}
                        <tr>
                            <td colspan="5" class="pt-5 text-right">
                                {% include "bag/bag-total.html" %}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-right">
                                {% include "bag/checkout-buttons.html" %}
                            </td>
                        </tr>
                </table>
            </div>
            {% else %}
                <p class="lead mb-5">Your bag is empty!</p>
                <a href="{% url 'products' %}" class="btn btn-lg rounded">
                    <span>
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase btn-outline-black"> Keep shopping</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 p-0">
        <div class="pattern-border border-bottom"></div>
    </div>
</div>

    
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    $('.btt-link').click(function(e) {
        window.scrollTo(0,0)
    })
</script>
{% include 'products/includes/quantity_input_script.html' %}

<script>
    // Update product quantity
    $('.update-link').click(function(e){
        var form = $(this).prev('.update-form');
        form.submit();
    });

    // Remove product 
    $('.remove-link').click(function(e){
        var csrfToken = "{{ csrf_token }}"
        var itemId = $(this).attr('id').split('remove_')[1];
        var colour = $(this).data('product_colour');
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken':csrfToken, 'product_colour':colour};

        $.post(url,data)
         .done(function() {
             location.reload();
         });
    });
</script>
{% endblock %}