{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="product-buffer"></div>
    <!--.........HOME HEADER IMAGE..............-->
    <div class="row">
        <div class="col-12 p-0">
            <div class="home-img"></div>
        </div>
    </div>
    <!--.........TOP BORDER..............-->
    <div class="row">
            <div class="col-12 p-0">
                <div class="pattern-border border-top"></div>
            </div>
        </div>
    <div class="row">
        <!--.........HEADING AND INTRODUCTION..............-->
        <div class="col-10 offset-1">
            <p class="welcome logo-font pink text-center">Welcome to Henna Styles!</p>
        </div>
        <div class="col-12 col-md-8 offset-md-2" >
            <p class="welcome-text p-2 text-center mb-5">Henna Styles is a henna shop and art community
                <br>Our shop includes a range of products including original design
                stencils, top quality henna cones and more! Whether tour a beginner or an expert,
                you'll be sure to find something to fuel your creativity.
                <br> Already developed your passion for henna? A subscription is for you! Subscribe 
                to recieve monthly packages of stencils and tools, vote on your favourite theme for the 
                next month, join our online community with artists posting designs and sharing tips and tricks.
            </p>
        </div>
    </div>
    <div class="row">
        <!--.........SHOP BUTTON..............-->
        <div class="col-12 col-md-4 offset-md-1 button-center">
            <a href="{% url 'products' %}">
                <div class="button-shop p-2">
                    <p class="logo-font button-text home-link">Shop</p>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-2"></div>
        <!--.........COMMUNITY BUTTON..............-->
        <div class="col-12 col-md-4 button-center">
            <a href="{% url 'view_posts' %}">
                <div class="button-subscribe p-2">
                    <p class="logo-font button-text home-link">Community</p>  
                </div>
            </a>
        </div>
    </div>
    <!--.........BOTTOM BORDER..............-->
    <div class="row">
        <div class="col-12 p-0">
            <div class="pattern-border border-bottom mt-3"></div>
        </div>
    </div>
</div>
{% endblock %}