{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="buffer"></div>
    <!--...................PATTERN BORDER.......................-->
    <div class="row">
        <div class="col-12 p-0">
            <div class="pattern-border border-top"></div>
        </div>
    </div>
    <!--...................HEADING.......................-->
    <div class="row">
        <div class="col-10 offset-1">
            <p class="welcome logo-font pink text-center">Add a post</p>
        </div>
    </div>
    <!--...................ADD POST FORM.......................-->
    <div class="row">
        <div class="col-lg-8 offset-lg-2 col-sm-10 offset-sm-1 text-center mb-4">
            <form class="mt-3" method="POST" id="PostForm" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.heading | as_crispy_field }}
                    {{ form.body | as_crispy_field }}
                    <div class="mt-5 mb-4">{{ form.image }}</div>
                    <input type="hidden" name="user_profile" value="{{ user.id }}">
                    <button class="btn btn-default float-right border-black">Add Post <i class="fas fa-plus pink"></i></button>
            </form>
        </div>
    </div>
    <!--...................PATTERN BORDER......................-->
    <div class="row">
        <div class="col-12 p-0">
            <div class="pattern-border border-bottom"></div>
        </div>
    </div>
</div>
{% endblock %}